.redeem
{
  height: 100%;
}

.redeem__point
{
  color: #4B5B7E;
  padding: 10px;
}

.redeem
{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.redeem__body
{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.redeem__point-header
{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: left;
}

.redeem__point-total-earned
{
  font-size: 12px;
  font-style: italic; 
  font-weight: 400;
}