.redeem
{
  height: 100%;
}

.redeem__body
{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.redeem__point-header
{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
}