.redeem
{
  height: 100%;
}

.redeem__point-way-to-go
{
  color: white;
  border-radius: 9px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.redeem__body
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.redeem__point-header
{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  grid-column-start: 1;
  grid-column-end: 3;
}