.redeem-card
{
  border-radius: 4px;
  box-sizing: border-box;
  margin: 4px;
  cursor: pointer;
  margin-bottom: 20px;

  display: grid;
}

.redeem-card__image
{
  max-width: 100%;
  border-radius: 4px 4px 0 0;
  margin-bottom: -7px;

  align-self: stretch;
}


.redeem-card__image--loading
{
  max-width: 100%;
  border-radius: 4px 4px 0 0;
  margin-bottom: -7px;
  background:  #EFEFEF;
  align-self: stretch;
}

.redeem-card__text
{
  font-size: 14px;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
  color: white;
  padding: 14px;
  font-weight: 700;

  align-self: stretch;

}