.redeem-card
{
  border-radius: 4px;
  box-sizing: border-box;
  margin: 4px;
  cursor: pointer;
  margin-bottom: 20px;

  display: grid;
}

.redeem-card__image
{
  max-width: 100%;
  border-radius: 4px 4px 0 0;
  margin-bottom: -7px;

  align-self: stretch;
}

.redeem-card__text
{
  font-size: 10px;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
  color: white;
  padding: 14px;

  align-self: stretch;

  /* display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden; */
}