.redeem-preview
{
  display: flex;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  flex-direction: column;
}

.redeem-preview__top
{
  padding: 36px;
}

.redeem-preview__header
{
  text-align: center;
  color: #4B5B7E;
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 20px;
}

.redeem-preview__image
{
  max-width: 100%;
}

.redeem-preview__image--loading
{
  max-width: 100%;
  border-radius: 4px 4px 0 0;
  margin-bottom: -7px;
  background:  #EFEFEF;
  align-self: stretch;
}

.redeem-preview__title
{
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #0DB39E; 
  padding-top: 28px;
  text-align: left;
}

.redeem-preview__description
{
  font-size: 16px;
  color: #4B5B7E;
  text-align: left;
  font-weight: normal;
  padding: 15px 0;
}

.redeem-preview__points
{
  font-size: 16px;
  color: #4B5B7E;
  font-weight: bold;
  text-align: center;
  padding-top: 32px;
}

.redeem__button
{
  align-self: center;
  background: #FEBE3E;
  border-radius: 28px;
  color: #4B5B7E;
  height: 42px;
  margin: 8px;
  width: 110px;
}

.redeem__button--long
{
  width: 220px;
}

.redeem-preview__checkout-item
{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  color: #4B5B7E;
  font-size: 16px;
}

.redeem-preview__checkout-balance
{
  border-top: 1px solid #EFEFEF;
}

.redeem-preview__bottom
{
  padding: 36px;
}

.redeem-preview__current-balance
{
  font-size: 16px;
  line-height: 24px;
  color: #4B5B7E;
}

.redeem-preview__buttons
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.redeem__cancel-button
{
  color: #8F8F8F;
  padding: 18px 0;
}