.redeem-preview
{
  height: 100%;
  width: 100%;
  text-align: left;
}

.redeem-preview__header
{
  text-align: center;
  color: #4B5B7E;
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 20px;
}

.redeem-preview__image
{
  max-width: 350px;
}

.redeem-preview__title
{
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #0DB39E; 
  padding-top: 28px;
}

.redeem-preview__description
{
  font-size: 16px;
  color: #4B5B7E;
  text-align: left;
  font-weight: normal;
  padding: 15px 0;
}

.redeem-preview__points
{
  font-size: 16px;
  color: #4B5B7E;
  font-weight: bold;
  text-align: center;
  padding-top: 32px;
}

.redeem-preview__container
{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.redeem__button
{
  align-self: center;
}

.redeem__button--long
{
  width: 220px;
}

.redeem-preview__checkout-item
{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 20px 0;
  color: #4B5B7E;
}

.redeem-preview__checkout-balance
{
  border-top: 1px solid #EFEFEF;
}