.activity-box
{
  position: relative;
}

.activity-box__plus
{
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.exercise__activity-item
{
  text-transform: capitalize;
  display: inline-block;
}