.appointment
{
  background: #1095B0;
  padding: 36px;
}

.appointment__header
{
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  padding: 12px 0;
}

.appointment__text
{
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  padding: 8px 0;
  text-transform: initial;
}

.appointment__help
{
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.appointment__help-button
{
  display: block;
}

.appointment__action-buttons
{
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}