.app {
  align-content: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 18px;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 0;
  position: relative;
}

.app__nav
{
  background: white;
  bottom: 0;
  box-shadow: 0px -4px 18px rgba(0, 0, 0, 0.06);
  padding: 24px;
  position: sticky;
}

.page
{
  font-size: 50px;
}

.page__progess
{
  color: #4B5B7E;
  position: relative;
  text-align: center;
}
.page__header
{
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  padding-top: 26px;
}

.page__sub-header
{
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}

.page__upcoming
{
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.page__sub-graph
{
  margin-top: 30px;
}

.page__caption
{
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  padding: 20px 40px;
}

.page__back-button
{
  position: absolute;
  top: 8px;
  left: 20px;
}

.page__tips-perks
{
  padding: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: left;
}

.page__tip-box
{
  margin-bottom: 20px;
}

.page__tips
{
  color: white;
  border-radius: 9px;
  box-sizing: border-box;
  padding: 16px;
  text-transform: uppercase;
  border: solid 4px white;
  margin-bottom: 8px;
}

.page__tips-header ,.page__perks-header
{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.page__perks
{
  background: white;
  border-radius: 9px;
  box-sizing: border-box;
  padding: 16px;
  text-transform: uppercase;
  border: solid 4px white;
  padding: 12px;
}

.page__activity-item, .page__notes-item
{
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  padding: 4px 40px;
  color: #4B5B7E;

  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.page__notes-item--empty
{
  text-transform: initial;
}

.react-calendar {
  margin: 0 auto;
}

.minfulness-calendar .react-calendar__month-view__days__day abbr  {
  display: none;
}


.page__notes-item__header
{
  font-weight: bold;
  font-size: 16px;
}

.page__notes-item__content
{
  display: block;
}