.app {
  align-content: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 10px;
  position: relative;
}

.app__nav
{
  position: sticky;
  bottom: 0;
  background: white;
  padding: 24px 0;
}

body {
  margin: 0;
}

a {
  /* text-decoration: none; */
  color: black;
}