@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body
{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

button
{
  border: none;
  background: transparent;
  cursor: pointer;
}

a 
{
  text-decoration: none;
  color: #4B5B7E;
}

.button--pill
{
  background: #4B5B7E;
  border-radius: 28px;
  color: white;
  height: 42px;
  margin: 8px;
  width: 110px;
}


.button--pill-yellow
{
  background: #FEBE3E;
  border-radius: 28px;
  color: #4B5B7E;
  height: 42px;
  margin: 8px;
  width: 110px;
}
