.library-detail
{
}

.library-detail__header-section
{
  overflow: hidden;
  background: white;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
}

.library-detail__back-button-title-container
{
  display: flex;
  align-items: center;
  background: white;
  padding: 20px 20px 0;
}

.library-detail__back-button
{
}

.library-detail__header
{
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
}

.library-detail__nav
{
  padding: 0 20px 20px;
  white-space: nowrap;
  overflow-x: scroll;
}

.library-detail__button :active{
  color: yellow;
}

.library-detail__intro,
.library-detail__tips,
.library-detail__resources
{
  margin-top: 110px;
  padding: 0 20px;
}


